stfc-cloud-openstack-cluster:
  openstack-cluster:
    machineSSHKeyName: k8s-david-epa
    cloudCredentialsSecretName: david-epa-cluster-cloud-credentials

    kubernetesVersion: "1.34.3"
    machineImage: "capi-ubuntu-2204-kube-v1.34.3"

    controlPlane:
      machineFlavor: dep-l2.tiny

    nodeGroups:
      - name: default-md-0
        machineCount: 2
        machineFlavor: l3.nano

    nodeGroupDefaults:
      machineFlavor: dep-l2.xsmall
      nodeLabels:
        # we're running longhorn on this cluster
        # set label so worker nodes can host longhorn volumes
        longhorn.store.nodeselect/longhorn-storage-node: true

    addons:
      ingress:
        enabled: true
        nginx:
          release:
            values:
              controller:
                electionID: ingress-controller-leader
                ingressClass: internal-nginx
                ingressClassResource:
                  name: internal-nginx
                  enabled: true
                  default: true
                  controllerValue: "k8s.io/ingress-internal-nginx"
                service:
                  annotations:
                    # Don't delete the floating ip when deleting loadbalancers
                    # prevents errors when deleting clusters, leave as true
                    loadbalancer.openstack.org/keep-floatingip: true
                  # *.david-epa.nubes.stfc.ac.uk
                  loadBalancerIP: "130.246.83.76"

      monitoring:
        enabled: true
        kubePrometheusStack:
          release:
            values:
              prometheus:
                prometheusSpec:
                  externalLabels:
                    cluster: david-epa-cluster
                    env: staging
                ingress:
                  ingressClassName: internal-nginx
                  annotations:
                    nginx.ingress.kubernetes.io/auth-type: basic
                    nginx.ingress.kubernetes.io/auth-secret: basic-auth
                    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required - David EPA Cluster"
                  hosts:
                    - prometheus.david-epa.nubes.stfc.ac.uk
                  tls:
                    - hosts:
                        - prometheus.david-epa.nubes.stfc.ac.uk
                      secretName: tls-keypair
              grafana:
                grafana.ini:
                  server:
                    root_url: https://grafana.david-epa.nubes.stfc.ac.uk
                ingress:
                  ingressClassName: internal-nginx
                  hosts:
                    - grafana.david-epa.nubes.stfc.ac.uk
                  tls:
                    - hosts:
                        - grafana.david-epa.nubes.stfc.ac.uk
                      secretName: tls-keypair
              alertmanager:
                enabled: false
                ingress:
                  ingressClassName: internal-nginx
                  annotations:
                    nginx.ingress.kubernetes.io/auth-type: basic
                    nginx.ingress.kubernetes.io/auth-secret: basic-auth
                    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required - David EPA Cluster"
                  hosts:
                    - alertmanager.david-epa.nubes.stfc.ac.uk
                  tls:
                    - hosts:
                        - alertmanager.david-epa.nubes.stfc.ac.uk
                      secretName: tls-keypair
      etcdDefrag:
        release:
          values:
            schedule: 1 12 * * * # smearing the time for defrag job 1:12pm daily  