stfc-cloud-openstack-cluster:
  openstack-cluster:
    cloudCredentialsSecretName: staging-management-cluster-cloud-credentials
    registryMirrors: { docker.io: ["https://staging.dockerhub.stfc.ac.uk/v2/"] }

    controlPlane:
      machineFlavor: dep-l2.tiny

    nodeGroups:
      - name: md-0
        machineCount: 2
        machineFlavor: dep-l2.tiny

    nodeGroupDefaults:
      machineFlavor: dep-l2.tiny

    addons:
      ingress:
        enabled: true
        nginx:
          release:
            values:
              controller:
                service:
                  loadBalancerIP: "130.246.215.233"

      monitoring:
        kubePrometheusStack:
          release:
            values:
              prometheus:
                prometheusSpec:
                  externalLabels:
                    cluster: management
                    env: staging
                ingress:
                  annotations:
                    nginx.ingress.kubernetes.io/auth-type: basic
                    nginx.ingress.kubernetes.io/auth-secret: basic-auth
                    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required - Staging Management"
                  hosts:
                    - prometheus.staging-mgmt.nubes.stfc.ac.uk
                  tls:
                    - hosts:
                        - prometheus.staging-mgmt.nubes.stfc.ac.uk
                      secretName: tls-keypair
              grafana:
                grafana.ini:
                  server:
                    root_url: https://grafana.staging-mgmt.nubes.stfc.ac.uk
                ingress:
                  hosts:
                    - grafana.staging-mgmt.nubes.stfc.ac.uk
                  tls:
                    - hosts:
                        - grafana.staging-mgmt.nubes.stfc.ac.uk
                      secretName: tls-keypair
              alertmanager:
                enabled: true
                ingress:
                  annotations:
                    nginx.ingress.kubernetes.io/auth-type: basic
                    nginx.ingress.kubernetes.io/auth-secret: basic-auth
                    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required - Staging Management"
                  hosts:
                    - alertmanager.staging-mgmt.nubes.stfc.ac.uk
                  tls:
                    - hosts:
                        - alertmanager.staging-mgmt.nubes.stfc.ac.uk
                      secretName: tls-keypair
      etcdDefrag:
        release:
          values:
            schedule: 10 08 * * * # smearing the time for defrag job 10:08am daily  