stfc-cloud-harbor:
  harbor:
    caSecretName: harbor-tls
    externalURL: "https://harbor.stfc.ac.uk"

    expose:
      tls:
        certSource: secret
        secret:
          secretName: harbor-tls
      ingress:
        annotations:
          kubernetes.io/ingress.class: ingress-nginx-external
          nginx.ingress.kubernetes.io/proxy-connect-timeout: "900"
          nginx.ingress.kubernetes.io/proxy-read-timeout: "900"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "900"
          nginx.ingress.kubernetes.io/proxy-buffering: "on"
          nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
          cert-manager.io/cluster-issuer: letsencrypt-prod
        className: ingress-nginx-external
        hosts:
          core: "harbor.stfc.ac.uk"

    database:
      type: external
      external:
        host: "dbspgha01.fds.rl.ac.uk"
        coreDatabase: "cloud_harbor_registry_prod"

    persistence:
      imageChartStorage:
        s3:
          bucket: prod-harbor-bucket
          regionendpoint: s3.echo.stfc.ac.uk

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: kube-prometheus
        interval: 30s
        scrapeTimeout: 25s

  backup:
    enabled: true
    sourceBucket: "s3://prod-harbor-bucket"
    destination:
      daily: "s3://prod-harbor-backup/daily"
      weekly: "s3://prod-harbor-backup/weekly"
      monthly: "s3://prod-harbor-backup/monthly"
    endpoint: "https://s3.echo.stfc.ac.uk"
