openstack-cluster:
  addons:
    ingress:
      enabled: true
      nginx:
        release:
          values:
            controller:
              service:
                loadBalancerIP: "130.246.211.178"

    monitoring:
      kubePrometheusStack:
        release:
          values:
            prometheus:
              prometheusSpec:
                externalLabels:
                  cluster: management
                  env: dev
              ingress:
                hosts:
                  - prometheus-mgmt.dev.nubes.stfc.ac.uk
                tls:
                  - hosts:
                      - prometheus-mgmt.dev.nubes.stfc.ac.uk
                    secretName: tls-keypair
            grafana:
              ingress:
                hosts:
                  - grafana-mgmt.dev.nubes.stfc.ac.uk
                tls:
                  - hosts:
                      - grafana-mgmt.dev.nubes.stfc.ac.uk
                    secretName: tls-keypair
            alertmanager:
              enabled: true
              ingress:
                hosts:
                  - alertmanager-mgmt.dev.nubes.stfc.ac.uk
                tls:
                  - hosts:
                      - alertmanager-mgmt.dev.nubes.stfc.ac.uk
                    secretName: tls-keypair
              alertmanagerSpec:
                # turn off persistent storage so cinder volume doesn't get created
                # TODO: remove this when cinder creation issue resolved on dev
                storage:
                  emptyDir:
                    medium: Memory
