stfc-cloud-docker-registry:
  nameOverride: docker-registry
  replicaCount: 3

  ingress:
    enabled: true
    ingressClassName: ingress-nginx-external
    path: /
    annotations: 
      kubernetes.io/ingress.class: ingress-nginx-external
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "900"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "900"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "900"
      nginx.ingress.kubernetes.io/proxy-buffering: "on"
      nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
      cert-manager.io/cluster-issuer: "letsencrypt-prod"  
      nginx.ingress.kubernetes.io/configuration-snippet: |
        if ($request_uri !~ ^/v2) {
          rewrite ^(.*)$ /v2$1 break;
        }
    hosts:
      - staging.dockerhub.stfc.ac.uk
    tls:
      - hosts:
        - staging.dockerhub.stfc.ac.uk
        secretName: docker-registry-tls

  # we'll default to S3
  persistence:
    enabled: false

  # set the type of filesystem to use: filesystem or s3
  storage: s3

  # Options for s3 storage type if .Values.storage=s3:
  s3:
    bucket: staging-registry
    regionEndpoint: s3.echo.stfc.ac.uk

  # remote url for pull-through cache 
  proxy:
    remoteURL: https://registry-1.docker.io

  metrics:
    enabled: true
    # Create a prometheus-operator servicemonitor
    serviceMonitor:
      enabled: true

  configData:
    http:
      debug:
        prometheus:
          enabled: true