stfc-cloud-openstack-cluster:
  openstack-cluster:
    auth:
      monitoring:
        enabled: true

    cloudCredentialsSecretName: staging-worker-cluster-cloud-credentials

    controlPlane:
      machineFlavor: dep-l2.tiny

    nodeGroups:
      - name: default-md-0
        machineCount: 5
        machineFlavor: dep-l2.tiny

    nodeGroupDefaults:
      machineFlavor: dep-l2.tiny
      nodeLabels:
        # we're running longhorn on this cluster
        # set label so worker nodes can host longhorn volumes
        longhorn.store.nodeselect/longhorn-storage-node: true

    addons:
      ingress:
        enabled: true
        nginx:
          release:
            values:
              controller:
                electionID: ingress-controller-leader
                ingressClass: internal-nginx
                ingressClassResource:
                  name: internal-nginx
                  enabled: true
                  default: true
                  controllerValue: "k8s.io/ingress-internal-nginx"
                service:
                  annotations:
                    # Don't delete the floating ip when deleting loadbalancers
                    # prevents errors when deleting clusters, leave as true
                    loadbalancer.openstack.org/keep-floatingip: true
                  # *.staging-worker.nubes.stfc.ac.uk
                  loadBalancerIP: "130.246.81.242"

      monitoring:
        enabled: true
        kubePrometheusStack:
          release:
            values:
              prometheus:
                prometheusSpec:
                  externalLabels:
                    cluster: worker
                    env: staging
                ingress:
                  ingressClassName: internal-nginx
                  annotations:
                    nginx.ingress.kubernetes.io/auth-type: basic
                    nginx.ingress.kubernetes.io/auth-secret: basic-auth
                    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required - Staging Worker"
                  hosts:
                    - prometheus.staging-worker.nubes.stfc.ac.uk
                  tls:
                    - hosts:
                        - prometheus.staging-worker.nubes.stfc.ac.uk
                      secretName: tls-keypair
              grafana:
                grafana.ini:
                  server:
                    root_url: https://grafana.staging-worker.nubes.stfc.ac.uk
                ingress:
                  ingressClassName: internal-nginx
                  hosts:
                    - grafana.staging-worker.nubes.stfc.ac.uk
                  tls:
                    - hosts:
                        - grafana.staging-worker.nubes.stfc.ac.uk
                      secretName: tls-keypair
              alertmanager:
                enabled: true
                ingress:
                  ingressClassName: internal-nginx
                  annotations:
                    nginx.ingress.kubernetes.io/auth-type: basic
                    nginx.ingress.kubernetes.io/auth-secret: basic-auth
                    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required - Staging Worker"
                  hosts:
                    - alertmanager.staging-worker.nubes.stfc.ac.uk
                  tls:
                    - hosts:
                        - alertmanager.staging-worker.nubes.stfc.ac.uk
                      secretName: tls-keypair
