openstack-cluster:

  controlPlane:
    machineCount: 3

  nodeGroups:
    - name: default-md-0
      machineCount: 3
      machineFlavor: l3.micro

  nodeGroupDefaults:
    machineFlavor: l3.nano
    nodeLabels:	
      # we're running longhorn on this cluster
      # set label so worker nodes can host longhorn volumes
      longhorn.store.nodeselect/longhorn-storage-node: true

  addons:
    ingress:
      enabled: true
      nginx:
        release:
          values:
            controller:
              service:
                loadBalancerIP: "130.246.211.106"

    monitoring:
      enabled: true
      # no need to send alerts around certs/openstack API endpoints for dev/staging clusters 
      # ends up with too many messages in the ticket queue
      blackBoxExporter: 
        enabled: false
      kubePrometheusStack:
        release:
          values:
            prometheus:
              prometheusSpec:
                externalLabels:
                  cluster: worker
                  env: dev
              ingress:
                hosts:
                  - prometheus.dev-worker.nubes.stfc.ac.uk
                tls:
                  - hosts: 
                    - prometheus.dev-worker.nubes.stfc.ac.uk
                    secretName: tls-keypair
            grafana:
              ingress:
                hosts:
                  - grafana.dev-worker.nubes.stfc.ac.uk
                tls:
                  - hosts: 
                    - grafana.dev-worker.nubes.stfc.ac.uk
                    secretName: tls-keypair
            alertmanager:
              enabled: true
              ingress:
                hosts:
                  - alertmanager.dev-worker.nubes.stfc.ac.uk
                tls:
                  - hosts:
                      - alertmanager.dev-worker.nubes.stfc.ac.uk
                    secretName: tls-keypair